<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Allure Suite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Allure Test Run">
        <classes>
            <!-- Thay thế bằng tên package + tên class test-->
            <class name="testscript.ThemThongBao"/>
            <class name="testscript.XoaThongBao"/>
            <class name="testscript.ChuyenTrangThaiThongBao"/>
            <class name="testscript.ChinhSuaThongBao"/>
            <class name="testscript.LocThongBao"/>
            <class name="testscript.ThemCauHoiThuongGap"/>
            <class name="testscript.TimKiemCauHoiThuongGap"/>
            <class name="testscript.TaoTaiKhoan"/>
        </classes>
    </test>
</suite>